:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --back-header: rgba(229, 229, 229, 1);
  --back-zakaz: rgba(47, 48, 58, 1);
  --back-usluga: rgba(33, 150, 243, 1);
}

header,
section,
footer {
  border: 1px solid;
}

.header {
  background: var(--back-header);
}

.zakaz {
  background: var(--back-zakaz);
  color: var(--white-text);
  text-decoration: none;
  list-style-type: none;
}

.usluga {
  background: var(--back-usluga);
  color: var(--white-text);
}

.logo {
  color: var(--black-text);
  text-decoration: none;
}

.logo1 {
  color: var(--blue-text);
}

.nav {
  text-decoration: none;
  color: var(--black-text);
  list-style-type: none;
}

.nav:hover,
.nav:focus {
  color: var(--blue-text);
}

.nav-nav {
  text-decoration: none;
  color: var(--grey-text);
  list-style-type: none;
}

.nav-nav:hover,
.nav-nav:focus {
  color: var(--blue-text);
}
